<!DOCTYPE html>

<html>
    <head>
        <title>{% block titulo %}Productos asturianos V3{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/estilos.css"/>
    </head>
    <body>
        <header>
            {% block menu %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse container" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Administración</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </header>
        <main class="container">
            {% block contenido %}{% endblock %}
        </main>
    </body>
</html>